In [1]:
import pandas as pd

In [2]:
dataCar = pd.read_csv('datacarda.csv', replace=)

In [4]:
del dataCar['Unnamed: 0']

In [6]:
dataCar.describe()

,veh_value,exposure,clm,numclaims,claimcst0,veh_age,agecat
count,67856.000000,67856.000000,67856.000000,67856.000000,67856.000000,67856.000000,67856.000000
mean,1.777021,0.468652,0.068144,0.072757,137.270167,2.673529,3.485484
std,1.205232,0.290025,0.251995,0.278204,1056.297768,1.067542,1.425608
min,0.000000,0.002738,0.000000,0.000000,0.000000,1.000000,1.000000
25%,1.010000,0.219028,0.000000,0.000000,0.000000,2.000000,2.000000
50%,1.500000,0.446270,0.000000,0.000000,0.000000,3.000000,3.000000
75%,2.150000,0.709103,0.000000,0.000000,0.000000,4.000000,5.000000
max,34.560000,0.999316,1.000000,4.000000,55922.129883,4.000000,6.000000

In [9]:
dataCar.columns

Index(['veh_value', 'exposure', 'clm', 'numclaims', 'claimcst0', 'veh_body',
       'veh_age', 'gender', 'area', 'agecat', 'X_OBSTAT_'],
      dtype='object')

In [38]:
# Que porcentaje de polizas incurren en al menos una reclamación
sum(dataCar.numclaims > 0) / dataCar.shape[0]

0.06814430558830464

In [47]:
# Top 5 de vehiculos con mayor numero de reclamaciones

dataCar.groupby(by='veh_body').numclaims.sum().sort_values(ascending=False)

veh_body
SEDAN    1598
HBACK    1330
STNWG    1248
UTE       276
HDTOP     136
TRUCK     130
COUPE      75
PANVN      68
MIBUS      45
MCARA      15
BUS        10
CONVT       3
RDSTR       3
Name: numclaims, dtype: int64

M

In [4]:
max(dataCar.veh_value)

34.56

In [7]:
dataCar[dataCar.veh_value == max(dataCar.veh_value)]

,Unnamed: 0,veh_value,exposure,clm,numclaims,claimcst0,veh_body,veh_age,gender,area,agecat,X_OBSTAT_
52494,52495,34.56,0.813142,0,0,0.0,CONVT,1,M,A,3,01101 0 0 0

In [9]:
dataCar[dataCar.claimcst0 == max(dataCar.claimcst0)]

,Unnamed: 0,veh_value,exposure,clm,numclaims,claimcst0,veh_body,veh_age,gender,area,agecat,X_OBSTAT_
28423,28424,4.8,0.158795,1,1,55922.129883,STNWG,2,M,A,2,01101 0 0 0

In [6]:
dataCar.replace()

/tmp/ipykernel_8960/3358561802.py:1: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  dataCar.replace()

,Unnamed: 0,veh_value,exposure,clm,numclaims,claimcst0,veh_body,veh_age,gender,area,agecat,X_OBSTAT_
0,1,1.06,0.303901,0,0,0.000000,HBACK,3,F,C,2,01101 0 0 0
1,2,1.03,0.648871,0,0,0.000000,HBACK,2,F,A,4,01101 0 0 0
2,3,3.26,0.569473,0,0,0.000000,UTE,2,F,E,2,01101 0 0 0
3,4,4.14,0.317591,0,0,0.000000,STNWG,2,F,D,2,01101 0 0 0
4,5,0.72,0.648871,0,0,0.000000,HBACK,4,F,C,2,01101 0 0 0
...,...,...,...,...,...,...,...,...,...,...,...,...
67851,67852,1.07,0.654346,0,0,0.000000,SEDAN,2,M,A,6,01101 0 0 0
67852,67853,1.23,0.908966,0,0,0.000000,SEDAN,4,M,C,3,01101 0 0 0
67853,67854,1.93,0.312115,0,0,0.000000,STNWG,4,M,C,3,01101 0 0 0
67854,67855,0.97,0.320329,1,1,7646.769989,HBACK,3,F,C,2,01101 0 0 0
67855,67856,1.02,0.246407,0,0,0.000000,HBACK,3,M,A,1,01101 0 0 0