In [1]:
import pandas as pd

In [9]:
data = pd.read_csv('/var/home/diegob/Documents/Computer Science/project/Incendio_Siniestros.csv', encoding='latin1')

/tmp/ipykernel_15706/3968152809.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/var/home/diegob/Documents/Computer Science/project/Incendio_Siniestros.csv', encoding='latin1')

In [12]:
data.drop('NUMERO DE SINIESTROS', axis=1, inplace=True)

KeyError: "['NUMERO DE SINIESTROS'] not found in axis"

In [13]:
data

,AÃ‘O,MONEDA,FORMA DE VENTA,GIRO,NUMERO DE NIVELES,TIPO PRIMER RIESGO,ENTIDAD,SUBTIPO DE SEGURO,TIPO DE BIEN,COBERTURA,CAUSA DEL SINIESTRO,MONTO DE SINIESTRO,GASTO DE AJUSTE,SALVAMENTO,MONTO PAGADO,MONTO DE DEDUCIBLE,MONTO COASEGURO,RECUPERACION DE TERCEROS,RECUPERACION DE REASEGURO
0,2015,Extranjera,Agentes Persona Fisica,"Alquiler de maquinaria y equipo industrial, co...",2,NINGUNO,Baja California,Otro,Contenidos,"Incendio, rayo y explosion",Falta de Mantenimiento,49946,0,0,50306,15300,0,NaN,NaN
1,2015,Extranjera,Agentes Persona Fisica,Autotransporte de carga general,1,RELATIVO,Guanajuato,Otro,Edificio,"Incendio, rayo y explosion",Rayo,85736,2969,0,0,0,0,NaN,NaN
2,2015,Extranjera,Agentes Persona Fisica,Banca multiple,1,NINGUNO,Estado de Mexico,Microseguro,Contenidos,Extension de cubierta (sin inundacion),Impacto De Vehiculos,0,3626,0,0,0,0,NaN,NaN
3,2015,Extranjera,Agentes Persona Fisica,Banca multiple,1,NINGUNO,Nuevo Leon,Microseguro,Contenidos,Extension de cubierta (sin inundacion),"Rotura de techos, vidrios, paredes",-278,1813,0,0,0,0,NaN,NaN
4,2015,Extranjera,Agentes Persona Fisica,Banca multiple,1,NINGUNO,Distrito Federal,Microseguro,Contenidos,Extension de cubierta (sin inundacion),Roturas de tuberias o sistemas de agua,-1188,3626,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131779,2023,Extranjera,Otros Canales de Venta Masiva,Banca mÃºltiple,1,Relativo,Ciudad de MÃ©xico,Microseguro,PÃ©rdidas Consecuenciales,"PÃ©rdida de Utilidades, Gastos Fijos y Salarios",DaÃ±os causados por impericia de trabajo,1975708,0,0,1678708,0,0,0.0,0.0
131780,2023,Extranjera,Otros Canales de Venta Masiva,Banca mÃºltiple,1,Ninguno,Ciudad de MÃ©xico,Pymes,Contenidos,Todo Riesgo,DaÃ±os causados por impericia de trabajo,0,0,0,0,0,0,0.0,-1139.0
131781,2023,Extranjera,Otros Canales de Venta Masiva,Otro tipo de Oficina,1,Relativo,Chihuahua,Otro,Edificio,ExtensiÃ³n de cubierta (sin inundaciÃ³n),Roturas de tuberÃ­as o sistemas de agua,670,219,0,7919,0,0,0.0,0.0
131782,2023,Extranjera,Otros Canales de Venta Masiva,Otro tipo de Oficina,1,Relativo,Chihuahua,Otro,Contenidos,ExtensiÃ³n de cubierta (sin inundaciÃ³n),Roturas de tuberÃ­as o sistemas de agua,1389,0,0,16283,0,0,0.0,0.0
131783,2023,Extranjera,Otros Canales de Venta Masiva,Otro tipo de Oficina,1,Relativo,Chihuahua,Otro,PÃ©rdidas Consecuenciales,Gastos Extraordinarios,Actos de Personas Mal Intencionadas,202,0,0,6250,0,0,0.0,0.0

In [5]:
# Selecting columns to make the triangle
siniestros = data[['AÃ‘O', 'MONTO PAGADO']]

         AÃ‘O  MONTO PAGADO
0       2015         50306
1       2015             0
2       2015             0
3       2015             0
4       2015             0
...      ...           ...
131779  2023       1678708
131780  2023             0
131781  2023          7919
131782  2023         16283
131783  2023          6250

[131784 rows x 2 columns]

In [6]:
# Deleting zero values
siniestros = siniestros[siniestros['MONTO PAGADO'] > 0]

         AÃ‘O  MONTO PAGADO
0       2015         50306
7       2015          4500
17      2015         25001
18      2015           917
24      2015           183
...      ...           ...
131778  2023          6049
131779  2023       1678708
131781  2023          7919
131782  2023         16283
131783  2023          6250

[53458 rows x 2 columns]